.add__icon {
  font-size: 6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 5vh;
  right: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  text-shadow: 0 0.8rem 1rem var(--color-black);
}

.add__icon > i {
  color: var(--color-white);
  cursor: pointer;
}
