.nav {
  grid-area: 'nav';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-secondary);
  color: var(--color-white);
  font-family: var(--font-primary);
}

.nav__links-list {
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  list-style: none;
  font-size: 1rem;
}

.nav__login__button {
  width: 100%;
  max-width: 14rem;
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  transition: 0.2s ease;
  color: var(--color-white);
  /* background: linear-gradient(to right, #7a83b2, #41477e); */
  background: var(--color-accent);
}

.nav__login__button:hover {
  background: var(--color-primary);
}

.nav__logo {
  font-size: 4rem;
}

.nav__link {
  width: 100%;
  max-width: 14rem;
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  transition: 0.2s ease;
}

.nav__link.active {
  background-color: var(--color-primary);
}

.nav__link:hover,
.nav__link:focus {
  background-color: var(--color-primary);
}

.nav__link > i {
  margin-right: 2rem;
}

.nav__icon__container {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
