.search__box__container {
  grid-area: 'search-box';
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__box {
  width: 100%;
  max-width: 40rem;
  padding: 1rem 0.8rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  border: 2px solid var(--color-secondary);
  border-radius: 0.8rem;
  color: var(--color-white);
  background-color: #181920;
}

.search__input {
  width: 100%;
  color: var(--color-white);
  font-size: 1.4rem;
}

.search__btn {
  background: transparent;
  font-size: 2rem;
  color: var(--color-white);
}
