*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-size: 62.5%;
}

:root {
  /* Font Fammily  */
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Roboto Mono', monospace;

  /* Colors  */
  --color-primary: #282a36;
  --color-secondary: #44475a;
  --color-accent: #6272a4;
  --color-black: #17141d;
  --color-white: #dddddd;
  --color-red: #ff5555;
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
